In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [7]:
# Setting variables to be used below
maxTweets = 1000000

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('pantai cermin since:2020-01-01 until:2022-05-10').get_items()):
    if i>maxTweets:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.username])

<ipython-input-7-a666a4e1f78e>:11: FutureWarning: username is deprecated, use user.username instead
  tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.username])

In [8]:
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [9]:
tweets_df2.to_csv("pantai_cermin.csv", index = False)

In [10]:
import pandas as pd

In [12]:
data = pd.read_csv('pantai_cermin.csv')

In [13]:


data.shape

(4742, 4)

In [14]:


data.head()

,Datetime,Tweet Id,Text,Username
0,2022-05-09 02:54:02+00:00,1523496486310641664,Personil SPKT Polsek pantai cermin melaksanaka...,cermin_polsek
1,2022-05-09 02:53:44+00:00,1523496411995983873,Kegiatan apel pagi personil Polsek pantai cerm...,cermin_polsek
2,2022-05-08 08:28:48+00:00,1523218346677702656,@midunbukanmadun Pantai cermin kita,Myuu_raaa
3,2022-05-06 14:41:33+00:00,1522587378489393154,@chasgraveur_ maennya jangan ke pantai cermin ...,CoklatStandar
4,2022-05-06 14:40:02+00:00,1522586996123717633,@Aestheticluvluv @forgguktaee ke pantai cermin...,taewonnies

In [15]:


data.tail()

,Datetime,Tweet Id,Text,Username
4737,2020-01-02 06:02:34+00:00,1212615144531849217,Serah terima piket penjagaan polsek pantai cer...,polressergai
4738,2020-01-01 08:04:35+00:00,1212283464222818304,"@MoniqueAubrey Belum lagi Derawan,labuan cermi...",GlemardaNorby
4739,2020-01-01 07:53:22+00:00,1212280641108078592,"Dalam Pelaksanaan Pengamanan Tahun Baru 2020,K...",polressergai
4740,2020-01-01 04:02:16+00:00,1212222483832524801,Apel kesiapan pengamanan arus lalu lintas diob...,polressergai
4741,2020-01-01 02:15:20+00:00,1212195573475840001,Kegiatan pengaturan di simp tiga pantai cermin...,polressergai